:root {
  --main-blue: #7aaffc;
  --light-blue: #8fcaf5;
  --dark-blue: #192850;
  --secondary-blue: #4a90ff;
  --anakiwa: #a7cbff;
  --cyan: #75deff;
  --menu-bg-color: #fff;
  --text-color-white: #fff;
  --text-color-hover: #dbdbdb;
  --background-grey: #f4f4f4;
  --background-grey-light: #d9d9d9;
  --background-grey-dark: #c4c4c4;
  --component-shadow: 0px 30px 45px rgba(21, 21, 21, 0.1);
  --component-border-radius: 20px;
  --component-padding: 20px;
  --category-icon-size: 40px;
  --mobile-navbar-height: 60px;
  --black: #000;
}

body {
  font-family: Segoe UI Variable,
  sans-serif;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

button {
  background: transparent none;
  color: black;
  border: 0;
}

.bg-main-blue {
  background-color: var(--main-blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-secondary-blue {
  background-color: var(--secondary-blue);
}

.bg-cyan {
  background-color: var(--cyan);
}

.bg-grey {
  background-color: var(--background-grey);
}

.bg-grey-dark {
  background-color: var(--background-grey-dark);
}

.bg-none {
  background-color: unset !important;
}

.component-shadow {
  box-shadow: var(--component-shadow);
}

.component-border-radius {
  border-radius: var(--component-border-radius);
}

.component-half-border-radius {
  border-radius: calc(var(--component-border-radius) / 2);
}

.component-one-third-border-radius {
  border-radius: calc(var(--component-border-radius) / 3);
}

.component-one-third-border-radius-bottom {
  border-bottom-left-radius: calc(var(--component-border-radius) / 3);
  border-bottom-right-radius: calc(var(--component-border-radius) / 3);
}

.component-none-border-radius-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.vh-50 {
  height: 50vh;
}

.vh-80 {
  min-height: 80vh;
}

.w-fit-content {
  width: fit-content;
}

.h-fit-content {
  height: fit-content;
}

@font-face {
  font-weight: 700;
  font-family: Segoe UI Variable;
  font-style: normal;
  src: url('./ui/fonts/Segoe-UI-Variable-Static-Text-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: Segoe UI Variable;
  font-style: normal;
  src: url('./ui/fonts/Segoe-UI-Variable-Static-Text-Semibold.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: Segoe UI Variable;
  font-style: normal;
  src: url('./ui/fonts/Segoe-UI-Variable-Static-Text.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: Segoe UI Variable;
  font-style: normal;
  src: url('./ui/fonts/Segoe-UI-Variable-Static-Text-Light.ttf') format('truetype');
}

.fw-medium {
  font-weight: 600;
}

/* Bootstrap */
.card {
  background-color: var(--menu-bg-color);
}

.form-select {
  background-color: var(--menu-bg-color);
}

/* Scroll */

.scroll-margin {
  scroll-margin-top: 2rem;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: var(--component-border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* logo */

#logo {
  width: 170px;
}

/* page provider */

.page-container {
  margin-bottom: var(--mobile-navbar-height);
}

/* Auth */
.auth-container {
  --light-blue: #8fcaf5;
  background: linear-gradient(116deg, #468cfd -0.4%, #94b8ff 47.93%, #a7e2df 110.47%, var(--main-blue) 181.54%);
  color: white;
}

.auth-container #logo {
  width: 220px;
}

.auth-form {
  width: clamp(250px, 100%, 350px);
}

.auth-container #wad {
  display: block;
}

.auth-form-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  padding-inline: 100px;
  padding-bottom: 140px;
}

.auth-form-nav-link {
  color: var(--text-color-white);
}

.auth-form-nav-link:hover {
  color: var(--text-color-hover);
}

/* Category global */

.categoryIcon {
  height: var(--category-icon-size);
  width: var(--category-icon-size);
  min-width: var(--category-icon-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Calculator global */

.calculatorTopButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Navbar */

.nav-item a {
  color: var(--text-color-white);
  text-decoration: none;
}

.nav-item a span {
  margin-left: 10px;
}

.nav-item:hover a {
  transition: color 150ms;
  color: var(--text-color-hover);
  text-decoration: none;
}

.nav-item:hover svg path {
  transition: stroke 150ms;
  stroke: var(--text-color-hover);
}

.nav-item:hover .active span {
  border-color: var(--text-color-hover);
}

.nav-item .active span {
  border-bottom: 2px solid white;
}

.navbar-aside .nav {
  height: 100%;
}

.navbar-aside {
  height: var(--mobile-navbar-height);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.navbar-aside .nav .nav-item {
  font-size: 12px;
  min-height: 45px;
}

.nav .nav-item:last-child {
  margin-top: 0;
}

.navbar-aside #logo {
  display: none;
}

/* arrow-select */

.arrow-select h3 {
  font-size: 18px;
}

/* wallet */

.wallet .card {
  border-radius: var(--component-border-radius);
  border: 0;
  background-color: var(--menu-bg-color);
}

.wallet .card-header {
  padding: var(--component-padding);
  color: var(--text-color-white);
  border-radius: var(--component-border-radius);
  background-color: var(--secondary-blue);
}

.wallet .accordion {
  border-radius: var(--component-border-radius);
}

.wallet:nth-child(even) .card-header {
  background-color: var(--dark-blue);
}

.wallet:nth-child(3n) .card-header {
  background-color: var(--cyan);
}

.wallet-carousel .carousel-control-prev,
.wallet-carousel .carousel-control-next {
  width: 20px;
}

/* menu */

.menu {
  background-color: var(--menu-bg-color);
  border-radius: var(--component-border-radius);
  box-shadow: var(--component-shadow);
}

body.dark .menu-container input,
body.dark .menu-container input:focus {
  color: black;
  background-color: var(--menu-bg-color);
}

.menu-container input[type='radio']:focus {
  background-color: white;
}

.menu-container input[type='radio']:checked {
  background-color: #0d6efd;
}

body.dark .menu-container input[type='radio']:focus {
  background-color: var(--menu-bg-color);
}

body.dark .menu-container input,
body.dark .menu-container input:focus {
  color: var(--text-color-white);
}

.menu-colored-header {
  color: var(--text-color-white);
  padding: var(--component-padding);
}

.menu-header {
  padding-left: var(--component-padding);
  padding-right: var(--component-padding);
  padding-top: var(--component-padding);
  padding-bottom: 0;
}

.menu-container {
  padding: var(--component-padding);
}

/* date picker modal */

.date-picker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  border-radius: var(--component-border-radius);
  background-color: var(--background-grey-light);
}

.date-picker .item {
  text-align: center;
  cursor: pointer;
  background-color: var(--menu-bg-color);
  padding: var(--component-padding);
}

.date-picker .item-wide {
  grid-column: 1/3;
  grid-row: 1;
}

/* transactions */

.sortButton,
.sortButton:focus {
  border-radius: 6px;
  color: #000;
}

body.dark .sortButton:focus {
  border-radius: 6px;
  color: white;
}

.positive {
  color: #309b58;
}

/* dark theme */

body.dark {
  --main-blue: #0c78b0;
  --light-blue: #1287c3;
  --dark-blue: #283f7a;
  --secondary-blue: #2f5ca3;
  --anakiwa: #668abe;
  --cyan: #0091bf;
  --menu-bg-color: #374151;
  --background-grey: #161f2f;
  --component-shadow: 0px 30px 45px rgba(219, 219, 219, 0.1);
  color: var(--text-color-white);
}

body.dark button {
  color: var(--text-color-white);
}

body.dark .form-select {
  color: var(--text-color-white);
}

body.dark .menu-container input[type='radio'],
body.dark .menu-container input[type='checkbox'] {
  border-color: var(--text-color-white);
}

/* responsive */

@media screen and (min-width: 768px) {
  .desktop-height-100vh {
    height: max(100vh, 100%);
  }

  .navbar-aside {
    position: unset;
  }

  .navbar-aside #logo {
    display: block;
  }

  .navbar-aside .nav .nav-item {
    font-size: unset;
    min-height: unset;
  }

  .navbar-aside .nav {
    height: calc(100% - 3rem - 80px);
  }

  .nav .nav-item:last-child {
    margin-top: auto;
  }

  .page-container {
    margin-bottom: 0;
  }

  /* Auth */
  .auth-form-container {
    padding-bottom: 0;
  }

  /* arrow-select */
  .arrow-select h3 {
    font-size: 28px;
  }
}

@media screen and (min-width: 425px) {
  body {
    --component-padding: 25px;
  }

  /* arrow-select */
  .arrow-select h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
}

@media screen and (min-width: 375px) {
  body {
    --category-icon-size: 50px;
  }
}
