.categories {
  display: grid;
  margin-inline: -12px;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(30vh - 195px) 5vw;
  overflow-wrap: break-word;
}

.categories .chart {
  grid-row: 2/2;
  grid-column: 2;
  display: flex;
  justify-content: center;
}

.categories .chart canvas {
  max-width: 250px;
  max-height: 250px;
}

.categoryName {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
  text-wrap: nowrap;
  width: 100%;
}

.category .gear {
  opacity: 0;
  transition: 0.3s all;
}

.category .categoryIcon:hover .gear {
  opacity: 1;
}

.categoryIcon .gear:focus {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .category .gear {
    opacity: 1;
  }

  .categories {
    grid-template-columns: repeat(3, 1fr);
    gap: calc(30vh - 185px) 0vw;
  }

  .categories .chart {
    grid-row: 2/2;
    grid-column: 2;
    max-height: 200px;
  }

  .categories .chart canvas {
    max-width: 200px;
    max-height: 200px;
  }
}

@media screen and (max-width: 375px) {
  .categories svg {
    width: 45px;
    height: 45px;
  }

  .category .gear svg {
    width: 20px;
    height: 20px;
  }

  .categories .chart canvas {
    max-width: 130px;
    max-height: 130px;
  }
}
