.categories {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap:min(150px,40vh); */
    gap: calc(30vh - 170px) 5vw;
}

.categories .chart{
    grid-row: 2/2;
    grid-column: 2;
}

.category .gear {
    opacity: 0;
    transition: .3s all;
}

.category .categoryIcon:hover .gear{

    opacity: 1;
}

/*responsive*/
@media screen and (max-width: 768px) {
    .category .gear {
        opacity: 1;
    }
}
