.analytics-chart {
  width: 100%;
  height: 28vh;
}

.analytics-chart .tab-content {
  height: calc(100% - 60px);
}

.analytics-chart .tab-pane {
  height: 100%;
}

.analytics-chart-container .expand-button {
  display: none;
}

.progress {
  height: 10px;
}

p {
  margin-bottom: 0;
}

.statistics {
  display: flex;
  max-height: 310px;
}

.statistics-menu {
  flex: 0 0 100%;
}

.percentage:has(button) {
  display: flex;
  min-height: 156px;
}

.percentage-menu {
  flex: 0 0 100%;
}

.analytics-chart.expanded {
  height: 61vh;
}

#analytics-tabs .nav-link:focus, .nav-link:hover {
  color: #ffffff;
}

/*responsive*/
@media screen and (min-width: 768px) {
  .analytics-chart {
    height: 45vh;
  }

  .analytics-chart.expanded {
    height: unset;
  }
}
